<% if @name %>
<h1>My name is <%= @name %></h1>
  <div style='border: 8px dashed red'>
    <img src='https://i.imgur.com/jFaSxym.png' alt='Cute picture of a kitten'>
  </div>

  <form name="input" action=“/form” method=“post”>
  name: <input type=“text” name="name">

  <input type=“submit” value="Submit">
  </form>
  <% end %>

<% if @cat_name %>
<h1>My name is <%= @cat_name %></h1>
  <div style='border: 8px dashed red'>
    <img src='https://i.imgur.com/jFaSxym.png' alt='Cute picture of a kitten'>
  </div>
  <% end %>
  
